* {
    margin: 0;
    
}

header {
    background-color: rgb(242, 149, 28);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    border-bottom: 1px solid black
}

.fairylogo {
    height: 10vh;
    width: auto;
}

.titulo {
    
    font-size: 10vh;
    text-align: center;
    color: rgb(244, 3, 3);   
    font-style: italic;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
   
}

ul {
    display: flex;
    align-items: center;
    gap: .8rem;
    list-style: none;
    font-size: 4vh;
    line-height: 2vh;
}

.nav {
   border: none;
   padding: auto;
   transition-duration: 15ms;
   text-decoration: none;
   color: rgb(0, 0, 0);
   
}
.nav:hover {
    color: rgb(255, 255, 255);
}
body {
    background-color: rgb(242, 149, 28);
}
main {
    margin: 20px;
}
.character {
   
    width: 400px;
   
    height: auto;
    margin:.2rem;

}